<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>菜鸟教程(runoob.com)</title>
    <link href="https://cdn.bootcss.com/ionic/1.3.2/css/ionic.css" rel="stylesheet">

</head>
<body ng-app="app" ng-controller="shopController">
<!--头部-->
<div class="bar bar-header bar-energized" >
    <h1 class="title">购物车（76）</h1>
    <button class="button">编辑</button>
</div>

<!--内容-->

<ion-content>

    <div class="list" style="margin-top:50px">

        <ion-checkbox ng-repeat="item in devList"
                      ng-model="item.checked"
                      ng-checked="item.checked">
            <p style="width:100px;height:100px;float: left;margin-right:10px;"><img src="{{ item.pic }}" style="width:100%;height:100%;"></p>
            <div class="box">
                <h2 style="padding:5px 5px 10px 5px;">{{ item.title }}</h2>
                <small>{{item.name}}</small>
                <br>
                <b style="color:red">{{item.price}}</b>
            </div>

        </ion-checkbox>

    </div>
    <ion-checkbox
            ng-model="item.checked"
            ng-checked="item.checked">
            <p style="padding-top:20px;">    </p>
        全选
        <div class="btn" style="float: right;">
            <p style="float: left;line-height:45px;padding-right:20px;">合计：<span style="color:red">￥0</span></p>
            <p><button class="button button-energized">结算(0)</button></p>
        </div>
    </ion-checkbox>
</ion-content>



<!--尾部-->
<div class="bar bar-footer bar-energized">

</div>

<!--<ion-pane>-->
    <!--<ion-content >-->
        <!--<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>-->
        <!--<ion-list>-->
            <!--<ion-item ng-repeat="item in items" ng-bind="item.name"></ion-item>-->
        <!--</ion-list>-->
    <!--</ion-content>-->
<!--</ion-pane>-->
<script type="text/javascript" src="Script/js/angular.js"></script>
<script type="text/javascript" src="Controller/shopController.js"></script>
<script src="https://cdn.bootcss.com/ionic/1.3.2/js/ionic.bundle.min.js"></script>
</body>
</html>
